
        <div class="row">
            <div class="col-md-12">

                <!--    <div class="app-title">-->
                <div id="top" class="tile" style="height: 70px">


                    <input type="file" id="uploadFile" style="display: none;" multiple="multiple" accept=".log,.txt" />
                    <input id="selectFilePath" readonly>
                    <input id="uploadPath" type="hidden">
                    <input type="button" id="openFile" value="选择ClientIn日志文件">
                    <input id="upload" type="button" value="上传" />


                    <!--    <input id="uploadFile" type="file" />-->
                    <!--    <input id="upload" type="button" value="上传"  />-->
                    <!--    <input id="uploadPath" type="hidden">-->


                    <label>&nbsp;&nbsp;&nbsp;&nbsp;统计时长:</label>
                    <select id="statisticsKind">
                        <option value="second">second</option>
                        <option value="minute">minute</option>
                        <option value="hour">hour</option>
                    </select>
                    <button id="statisticsAnalysis"> 统计</button>
                </div>
                <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                <!--                <div id="main" style="width: 1200px;height:600px;">-->

                <div id="main" class="tile" style="height:600px;">

                </div>
            </div>

        </div>

        <!--   </div>-->

