<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="ConStr" value="server=.;database=WMS;user=sa;pwd=123456" />

    <add key="RedisAuthConnection" value="127.0.0.1:6379,password=fancky123456,DefaultDatabase=0" />
    <!--defaultDatabase 数据库索引-->
    <add key="RedisConnection" value="127.0.0.1,syncTimeout=60000,defaultDatabase=10" />
    <add key="MasterRedis" value="fancky123456@127.0.0.1:6379?db=0&amp;connectTimeout=2&amp;sendtimeout=3&amp;receiveTimeout=4&amp;idletimeoutsecs=5&amp;NamespacePrefix=prefix." />

    <add key="SlaveRedis" value="127.0.0.1:6380" />


    <add key="TeamViewerPath" value="C:\\Users\\Administrator\\Desktop\\工具\\TeamViewer 13.lnk" />
    <add key="TTMarketAdapterPath" value="D:\ZProject\TTNew\TT V2\TTMarketAdapter\bin\Debug\\TTMarketAdapter.exe" />
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
