<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <!--设置90s超时;默认15s 详细配置见SqlConnection.ConnectionString 属性-->
    <!--enlist=true则支持分布式事务处理(TransactionScope）-->
    <add name="WMSConnectionString" connectionString="data source=(local);initial catalog=WMSData;persist security info=True;user id=sa;password=12345678;Connect Timeout=90;Connection Lifetime=30;Max Pool Size=100;Min Pool Size=0;Pooling=True" providerName="System.Data.SqlClient" />
    <!--<add name="WMSConnectionString" connectionString="data source=(local);initial catalog=WMSData;persist security info=True;user id=sa;password=123456" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>
  <appSettings>
    <add key="ConStr" value="server=.;database=WMS;user=sa;pwd=123456" />
    <add key="RedisAuthConnection" value="127.0.0.1:6379,password=fancky123456,DefaultDatabase=0" />
    <!--defaultDatabase 数据库索引-->
    <add key="RedisConnection" value="127.0.0.1,syncTimeout=60000,defaultDatabase=10" />
    <!--主库写，读写分离-->
    <!--两个版本的连接字符串写法不一样-->
    <add key="ServiceStackMasterRedis" value="fancky123456@127.0.0.1:6379?db=0&amp;connectTimeout=2&amp;sendtimeout=3&amp;receiveTimeout=4&amp;idletimeoutsecs=5&amp;NamespacePrefix=prefix." />
    <add key="StackExchangeMasterRedis" value="127.0.0.1:6379,password=fancky123456,DefaultDatabase=0" />
    <!--设置从库只读-->
    <add key="ServiceStackSlaveRedis" value="fancky123456@127.0.0.1:6380?db=0&amp;connectTimeout=2&amp;sendtimeout=3&amp;receiveTimeout=4&amp;idletimeoutsecs=5&amp;NamespacePrefix=prefix." />
    <add key="StackExchangeSlaveRedis" value="127.0.0.1:6380,password=fancky123456,DefaultDatabase=0" />

    <add key="SQLiteDb" value="SQLiteDemo.db" />

    <add key="TeamViewerPath" value="C:\\Users\\Administrator\\Desktop\\工具\\TeamViewer 13.lnk" />
    <add key="TTMarketAdapterPath" value="D:\ZProject\TTNew\TT V2\TTMarketAdapter\bin\Debug\\TTMarketAdapter.exe" />
    <add key="TCPServer" value="192.168.1.105:10000" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.5.0" newVersion="1.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.13.0.0" newVersion="3.13.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>
