<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>

  <appSettings >
    <add key="ConStr" value="server=.;database=WMS;user=sa;pwd=123456"/>
    <!--defaultDatabase 数据库索引-->
    <add key="RedisConnection" value="127.0.0.1,syncTimeout=60000,defaultDatabase=10"/>
    <add key="MasterRedis" value="fancky123456@127.0.0.1:6379?db=0&amp;connectTimeout=2&amp;sendtimeout=3&amp;receiveTimeout=4&amp;idletimeoutsecs=5&amp;NamespacePrefix=prefix."/>

    <add key="SlaveRedis" value="127.0.0.1:6380"/>
  </appSettings>

</configuration>